<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <title>Controls</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="control.css"> 
        <!-- there should be a shortcut for this -->
    </head>
<!-- 
    <style>
        .button-forward{
            display:flex;
            width:100px;
            height:100px;
            background-color:pink;
            align-items: center; 
        }

    </style> -->

<!-- ISSUE: if you wrap everything in form grid-templates-area will not affect the buttons because CSS grid only applies to the direct children -->
<!-- SOLUTION: Formacation: 1. two scenarios when you dont want to wrap everything in form 2. different buttons to submit the form to different URLs-->
<!-- FACT: Order of attributes does not matter -->
    <body>
        <h1>Robot Controls</h1>
        <div class="container">
        <!-- form lets users input information -->
            <!-- <form action="/move"  method="post" > -->
                <!--templates is only for html files -->
                <button type="submit" name="direction" value="F" class="button-forward" formaction="/move" formmethod="post">
                    <!-- <img src="button-forward.png" alt="Forward" width="100" height="100"> -->
                    <img src="{{ url_for('static', filename='button-forward.png') }}" alt="Forward" width="100" height="100">
                    <!-- double to single quotes avoid conflict -->
                    <!-- double curly bracket from jinja2 built into flask -->
                    <!-- evaluate and insert the results -->
                </button>

                <button type="submit" name="direction" value="R" class="button-right" formaction="/move" formmethod="post">
                    <img src="{{ url_for('static',filename='button-right.png') }}" alt="Right" width="100" height="100">
                </button>

                <button type="submit" name="direction" value="L" class="button-left" formaction="/move" formmethod="post">
                    <img src="{{ url_for('static',filename='button-left.png') }}" alt="Left" width="100" height="100">
                </button>

                <button type="submit" name="direction" value="D" class="button-down" formaction="/move" formmethod="post">
                    <img src="{{ url_for('static',filename='button-down.png') }}" alt="Down" width="100" height="100">
                </button>

                <!-- <button class="button-Forward" name="direction" value="F">Forward</button>
                <button class="button-Right" name="direction" value="R">Right</button>
                <button class="button-Left" name="direction" value="L">Left</button>
                <button class="button-Back" name="direction" value="B">Back</button>
                <button class="button-Back" name="direction" value="S">Stop</button> -->


           <!-- <button name="direction" value="L">Left</button>
            <button name="direction" value="R">Right</button>
            <button name="direction" value="B">Back</button>
            <button name="direction" value="S">Stop</button>  -->

            <!-- </form> -->
            <h2>Live Camera Stream</h2>
            <img src="{{ url_for('video_feed') }}">
        </div>
    </body>

</html>